COMPOSE_FILE=docker-compose.yml
COMPOSE_PATH_SEPARATOR=:
USER_ID=1000
GROUP_ID=1000
TIMEZONE="Australia/Adelaide"
DATA_ROOT="/mnt/data"
DOWNLOAD_ROOT="/mnt/data/torrents"
MEDIA_SHARE="/mnt/Media"
HOSTNAME=downloader.home.kerr.host
ADGUARD_HOSTNAME=
DNS_CHALLENGE_PROVIDER=cloudflare
LETS_ENCRYPT_EMAIL=jaydenkerr@gmail.com
CLOUDFLARE_EMAIL=jaydenkerr@gmail.com
CLOUDFLARE_DNS_API_TOKEN=4Va6FfN9xL4gB_5WaFF9MzuOc4eS1WSL_cDrX-O8
CLOUDFLARE_ZONE_API_TOKEN=
SONARR_API_KEY=
RADARR_API_KEY=
LIDARR_API_KEY=
PROWLARR_API_KEY=
JELLYFIN_API_KEY=
JELLYSEERR_API_KEY=
HOMEPAGE_VAR_TITLE="Docker-Compose NAS"
HOMEPAGE_VAR_SEARCH_PROVIDER=google
HOMEPAGE_VAR_HEADER_STYLE=boxed
HOMEPAGE_VAR_WEATHER_CITY=
HOMEPAGE_VAR_WEATHER_LAT=
HOMEPAGE_VAR_WEATHER_LONG=
HOMEPAGE_VAR_WEATHER_UNIT=metric
